body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#shell {
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image {
  float: right;
  width: 96px;
  padding-top: 18px;
}

.container {
  cursor: default;
  position: fixed;
  z-index: 99;
  min-height: 290px;
  min-width: 384px;
  border-radius: 20px;
  padding: 20px 30px;
  bottom: 20px;
  right: 26px;
  color: #585858;
  background: #ffffffde;
  box-shadow: 3px 4px #cececeba;
}

.header {
  height: 80px;
  margin-bottom: 8px;
}

.avatar {
  float: left;
  width: 80px;
}

.title-box {
  font-size: 8px;
  text-transform: uppercase;
  margin-left: 100px;
  padding-top: 4px;
  font-kerning: none;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
}

.sub-title {
  font-weight: normal;
  margin-top: 0px;
}

.image-logo {
  height: 12px;
  margin-right: 6px;
}

.row {
  text-transform: uppercase;
  font-weight: bold;
  font-kerning: none;
  font-size: 16px;
  border-top: solid 1px #cecece;
  padding-bottom: 10px;
  padding-top: 16px;
}
.row > span {
  float: right;
  padding-left: 10px;
}
